{% extends 'base.html' %}

{% block header %}
<title>TINYSTEPS - booking</title>
{% endblock %}

{% block content %}
<main class="container mt-3">
    <div class="row mt-5">
        <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
            {% for teacher in list_teachers %}
            <form action="/booking_done/{{teacher['id']}}/{{day}}/{{hour}}/" method="POST" class="card mb-3">
                <div class="card-body text-center pt-5">
                    <img src="{{teacher['picture']}}" class="mb-3" width="95" alt="">
                    <h2 class="h5 card-title mt-2 mb-2">{{teacher['name']}}</h2>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{day}}, {{hour}}</p>
                </div>
                <hr/>
                <div class="card-body mx-3">
                    <div class="row">
                        <input class="form-control" type="hidden" name="clientWeekday" value="mon">
                        <input class="form-control" type="hidden" name="clientTime" value="{{hour}}">
                        <input class="form-control" type="hidden" name="clientTeacher" value="{{teacher['id']}}">
                    </div>
                    <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
                    <input class="form-control" type="text" {{form.client(placeholder='Имя' , required=True,
                           autofocus=True)}}

                    <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
                    <input class="form-control" type="tel" {{form.tel(required=True)}}
                    <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</main>
<p class="text-center"><a href="/" class="btn btn-success m-2">Вернуться на Главную страницу</a></p>
{% endblock %}